
@{
    ViewData["Title"] = "Add";
}

<h1>Add Topic</h1>
<form  method="post">
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Please Enter the Subject of Topic :  <input type="text" name="subject"> <br>
                <p></p>
                Please Enter the Content of Topic : <input type="text" name="content"> <br>
            </td>
        </tr>
            </tbody>
    </table>
    <button> Add </button>
</form>
