
@{
    ViewData["Title"] = "Add";
}

<h1>Add Reply</h1>
<form  method="post">
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Please Enter your Que/Ans: <input type="text" name="Rep"> <br>
                    <p></p>
                </td>
            </tr>
            </tbody>
    </table>
    <button> Add </button>
</form>
