
@{
    ViewData["Title"] = "Add";
}

<h1>Add Forum</h1>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Please Enter the Name of Forum:

                    <input type="text" name="name"> <br>
                </td>

            </tr>

    </table>
    <button> Add </button>

</form>


